.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none !important;
  outline: none;
}

.nav-link {
  color: #666777 !important;
  font-weight: 600 !important;
}

.nav-link:hover, .nav-link.active, .saved-dropdown-button.active {
  color: black !important;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: initial;
}

.dropdown-menu{
  transform: translateX(-62%);
}

.dropdown-item:hover{
  cursor: pointer;
}

.saved-dropdown-button{
  height: 30px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgba(0,0,0,0.65);
}

.saved-dropdown-button:hover{
  background-color: rgba(200,200,200,0.5);
  color: black;
}



