.weather-weekly-container{
  max-width: 850px !important; 
  margin: 30px auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 370px;
  }

  @media (max-width: 576px) {
    max-width: none;
    /* margin: auto; */
  }

}

