.weather-daily-container{
  width: 180px;
  height: 180px;
  /* aspect-ratio: 1/1; */
  border-radius: 50px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(255,255,255,0.6);

  @media (max-width: 576px) {
    border: 1px solid lightblue;
  }
} 

.daily-icon{
  width: 80px;
}

.daily-temp{
  margin-bottom: 0;
}

.daily-date{
  margin-bottom: 0;
}

